@{
    ViewData["Title"] = "GetAllData";
}
@model EmpolyeeVM 
<div class="main-panel">
     <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
             <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                        <div class="table-responsive">
                           <table class="table">
                                <thead>
                                   <tr>
                                       <th>Employee Fulname </th>
                                       <th>Employee Position</th>
                                       <th>Employee UserName</th>
                                       <th>Action</th>
                                     </tr>
                                        </thead>+
                                            <tbody>
                                        @foreach (var item in Model.Employees)
                                            {
                                            <tr>
                                            <td>@item.FullName</td>
                                            <td>@item.Position</td>
                                            <td>@item.UserName</td>
                                           </tr>
                                            }
                                            </tbody>
                                    </table>
                            </div>
                       </div>
                   </div>
              </div>
         </div>
     </div>
</div>

